<% if locals.has_key? :errors %>
  <p><%= locals[:errors] %></p>
<% end %>
<h1><span class="glyphicon glyphicon-file"></span> Requisição de veículo</h1>

<form action="/vehicle_request" method="post">

  <!-- Departamento -->
  <div class="row">
    <div class="col-lg-4">
      <label for="departament">Departamento</label>
      <input id="departament" name="departamento" class="form-control" type="text">
      <p class="help-block">Departamento responsável.</p>
    </div>
  </div>
  <!-- Destino -->
  <div class="row">
    <div class="col-lg-4">
      <label for="destination">Destino</label>
      <input id="destination" name="destino" class="form-control" type="text">
      <p class="help-block">Nome da cidade de destino.</p>
    </div>
  </div>

  <%= erb :"vehicle_requests/_passageiros_section" %>

  <%= erb :"vehicle_requests/_motivo_da_viagem" %>

  <%= erb :"vehicle_requests/_servico_section" %>

  <%= erb :"vehicle_requests/_data_hora_section" %>

  <%= erb :"vehicle_requests/_local_section" %>

  <%= erb :"vehicle_requests/_dados_voo_section" %>

  <!-- button Submit -->
  <div class="btn-submit-position row">
    <div class="col-lg-4">
      <p><input class="btn btn-primary col-lg-5" type="submit" value="Enviar requisição"></p>
    </div>
  </div>

</form>
